<div class="hero min-h-screen mb-0 flex items-center justify-center" style="background-image: url('<%= asset_path 'top.jpg' %>'); background-size: cover; background-position: center;">
  <div class="max-w-md text-center">
    <h1 class="mb-5 text-3xl sm:text-4xl md:text-5xl font-bold">Best Buy Gadgets</h1>
    <p class="mb-5">お気に入りのガジェットを共有しよう！</p>
    <% if logged_in? %>
     <%= link_to 'はじめる', boards_path, class: "btn bg-white text-black hover:bg-gray-300 transition-colors" %>
    <% else %>
      <%= link_to 'はじめる', login_path, class: "btn bg-white text-black hover:bg-gray-300 transition-colors" %>
    <% end %>
  </div>
</div>
