<div class="top-wrapper relative bg-cover bg-center" style="background-image: url(<%= asset_path 'top2.jpg' %>); height: calc(100vh - 134px);">
  <div class="top-inner-text absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full">
    <h1 class="text-black text-4xl md:text-6xl font-bold mt-4">Best Buy Gadgets</h1>
    <h2 class="text-black text-base md:text-xl font-semibold mt-2">お気に入りのガジェットを共有しよう</h2>   
  </div>
</div>
