<header class="bg-base-100 shadow-md" data-theme="mytheme">
  <nav class="navbar bg-base-100 z-10 relative py-1">
    <div class="flex-1">
      <%= link_to '/', class: 'btn btn-ghost' do %>
        <%= image_tag 'home.png', alt: 'Home', class: 'w-8 h-8' %>
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-4 flex items-center space-x-4">
        <li><%= link_to t('header.posts'), boards_path, class: 'btn btn-ghost' %></li>
        <li><%= link_to t('header.login'), login_path, class: 'btn btn-ghost' %></li>
      </ul>
    </div>
  </nav>
</header>