<header>
  <nav class="navbar bg-base-100 z-10 relative">
    <div class="flex-1">
      <%= link_to 'Best Buy Gadgets', root_path, class: 'btn btn-ghost text-xl' %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to 'Timeline', boards_path %></li>
        <li>
          <details>
            <summary>My Gadgets</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><%= link_to 'Login',login_path %></li>
              <li><%= link_to 'SignUp',new_user_path %></li>           
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </nav>
</header>