<% flash.each do |message_type, message| %>
  <div class="mt-2">
    <div class="px-4 py-2 text-sm rounded-md 
                <%= message_type == 'success' ? 'bg-success text-success-content' : 'bg-error text-error-content' %>">
      <%= message %>
    </div>
  </div>
<% end %>
