<footer id="footer" data-theme="mytheme" class="bg-base-100 text-neutral-dark py-4">
  <div class="container mx-auto text-center"> <!-- Add the 'text-center' class here -->
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 w-full">
        <div class="text-center md:text-left">
          <p>&copy; <%= Time.current.year %> Best Buy Gadgets</p>
        </div>
      </div>
    </div>
  </div>
</footer>
