<footer id="footer" data-theme="mytheme" class="bg-base-100 text-neutral-dark py-4">
  <div class="container mx-auto text-center">
    <div class="flex flex-col"> <!-- md:flex-row を削除 -->
      <div class="w-full">
        <div class="text-center">
          <p>&copy; <%= Time.current.year %> Best Buy Gadgets - ALL right reserved</p>
        </div>
      </div>
      <div class="w-full mt-4">
        <div class="text-center">
          <p>
            <a href="https://x.com/yuta_RUNTEQ" class="text-primary hover:underline">お問い合わせ</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
