<footer id="footer" data-theme="mytheme" class="bg-base-100 text-neutral-dark py-4">
  <div class="container mx-auto text-center">
    <div class="flex flex-col md:flex-row justify-between">
      <div class="md:w-1/2 w-full">
        <div class="text-center md:text-left">
          <p>&copy; <%= Time.current.year %> Best Buy Gadgets - ALL right reserved</p>
        </div>
      </div>
      <div class="md:w-1/2 w-full mt-4 md:mt-0">
        <div class="text-center md:text-right">
          <p>
            <a href="https://x.com/yuta_RUNTEQ" class="text-primary hover:underline">お問い合わせ</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
