<header>
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to 'Best Buy Gadgets', '/', class: 'btn btn-ghost text-xl' %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Timeline</a></li>
        <li>
          <details>
            <summary>My Page</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a>Login</a></li>
              <li><a>SiguUp</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </nav>
</header>
