<header class="bg-base-100 shadow-md" data-theme="mytheme">
  <nav class="navbar bg-base-100 p-1">
  <div class="flex-1">
      <%= link_to '/', class: 'btn btn-ghost' do %>
     <span class="text-lg font-bold">Best Buy Gadgets</span>
  <% end %>
</div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-2">
        <li><%= link_to t('header.posts'), boards_path, class: 'btn btn-ghost' %></li>
        <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしてもよろしいですか？" }, class: 'btn btn-ghost' %></li>
      </ul>
    </div>
  </nav>
</header>