<div class="container mx-auto pt-3">
<!-- 投稿するボタン -->
<div class="my-3 p-3 border border-white bg-white">
  <a href="/boards/new" class="w-full py-2 px-4 bg-white text-gray-900 font-semibold rounded-md shadow hover:bg-gray-200 inline-block text-center">投稿する</a>
</div>

  <!-- 掲示板一覧 -->
  <div class="flex">
    <div class="w-full">
      <div class="flex flex-wrap">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>