<div class="container mx-auto pt-3">
  <div class="flex">
    <div class="w-full max-w-2xl mx-auto">
      <!-- 検索フォーム -->
      <form>
        <div class="flex mb-3">
          <input class="form-control flex-1 border rounded-l-md p-2" placeholder="検索ワード" type="search"/>
          <div class="input-group-append">
            <input type="submit" value="検索" class="bg-blue-500 text-white rounded-r-md p-2"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="flex">
    <div class="w-full">
      <div class="flex flex-wrap">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>